<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/dashboard.css}"
          href="../../css/dashboard.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               href="/">
                <h2>Course Manager</h2>
            </a>
            <ul class="nav">
                <li>
                    <a th:href="@{/}" href="list.html">
                        Courses
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Courses</h1>
    <div layout:fragment="content">

    </div>
</div>
</body>
</html>
